---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
import chip from "../../assets/icons/chip.svg";
import desktop from "../../assets/icons/desktop.svg";
import mobile from "../../assets/icons/mobile.svg";
import linux from "../../assets/icons/linux.svg";
import server from "../../assets/icons/server.svg";

const cards = [
  {
    index: 0,
    paragraphs: [
      "Création d'une application mobile pour iOS et android dans le but de simplifier les comptes entre amis.",
      "J'ai développé cette app en utilisant le framework Flutter du langage Dart et en me basant sur la clean architecture.",
      "J'ai aussi développé la partie serveur (backend).",
    ],
    related: "Flutter, iOS, android, Serverpod, docker",
    icons: [mobile, server],
    alt: ["mobile", "server"],
  },
  {
    index: 1,
    paragraphs: [
      "Pour une entreprise dans le domaine de la gestion d'équipements électroniques, j'ai développé une IHM (avec Flutter) embarquée dans un Raspberry Compute module 4 s'exécutant sur un écran tactile.",
      " Cette application communique avec des protocoles bas niveau pour piloter l'électronique, et avec une appli web django en MQTT pour laquelle j'ai contribué au développement backend et frontend.",
      "J'ai également développé le firmware embarqué (en C sur un RP2040) dans une carte électronique qui communique en RS485 avec le compute module.",
    ],
    related: "Flutter, django, C, MQTT, linux, docker",
    icons: [mobile, desktop, server, linux, chip],
    alt: ["mobile", "desktop", "server", "linux", "chip"],
  },
  {
    index: 2,
    paragraphs: [
      "Pour une PME dans le domaine de l'assainissement, j'ai développé une application web (React) et contribué au développement du serveur django.",
      "Tous deux sont embarqués dans leur nouveau produit connecté qui permet la visualisation et la télérelève de données métier.",
      "Dans ce cadre, j'ai également développé des services linux (python, C) dans le but de faire communiquer le produit en MQTT via le réseau cellulaire.",
    ],
    related: "React, django, C, python, linux",
    icons: [desktop, server, linux],
    alt: ["desktop", "server", "linux"],
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Derniers projets"
      description="Quelques exemples de projets que j'ai menés à bien ces dernières années"
    />
    <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
      {
        cards.map((card) => (
          <Card>
            <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] me-5">
              <div class="flex flex-col gap-5">
                <div class="flex flex-row gap-5">
                  {card.icons.map((icon, index) => (
                    <Image src={icon} alt={card.alt[index]} />
                  ))}
                </div>
                {card.paragraphs.map((p) => (
                  <p>{p}</p>
                ))}
                <span class="text-green">{card.related}</span>
              </div>
            </div>
          </Card>
        ))
      }
    </div>
  </div>
</Section>
