---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative mt-20">
    <SectionTitle
      sectionTitle="Discutons de votre projet"
      description="Remplissez le formulaire ci-dessous, je vous recontacte pour en discuter, autour d'un café si vous passez par Toulouse :)"
    />
    <Form />
  </div>
</Section>
