---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative mt-20">
    <SectionTitle
      sectionTitle="Contact"
      description="Faisons connaissance pour discuter de vos besoins et de votre projet"
    />
    <Form />
  </div>
</Section>
