---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust1 from "../../assets/pics/ios-frame.svg";
import HeroIlust2 from "../../assets/pics/web-frame.svg";
import HeroIlust3 from "../../assets/pics/embarque-frame.svg";
import ArrowDown from "../ui/ArrowDown.astro";
---

<Section id="home">
    <div
        class="relative flex flex-col-reverse items-center md:flex-row"
        id="hero"
    >
        <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
            <div class="text-left space-y-3">
                <h1
                    class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left"
                >
                    <!-- Navigating the <br /> digital landscape <br /> for success -->
                    Ensemble on <br />
                    <strong>compoz</strong> votre <br />
                    <div id="animated-text" class="min-h-[2em]">
                        application mobile
                    </div>
                </h1>
                <p
                    class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12"
                >
                    A partir de <strong>votre besoin</strong>, je vous
                    accompagne dans l'élaboration d'une solution technique
                    <strong>compozée sur mesure</strong> grâce à mon expérience dans
                    différents domaines techniques.
                    <br />De l'application mobile à l'application web en passant
                    par le système embarqué communicant, je développe vos
                    produits numériques.
                </p>
                <div
                    class="w-full justify-center md:justify-start items-center inline-flex"
                >
                    <a
                        href="/#contact"
                        class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7"
                    >
                        Me contacter
                    </a>
                </div>
            </div>
        </div>
        <div
            class="flex items-center relative py-5 md:w-6/12 md:pb-20 md:pt-10 right-0"
        >
            <Image
                src={HeroIlust1}
                alt="Hero Ilustration"
                loading="eager"
                class="floating1 -rotate-12 md:w-4/12 z-10 left-20 absolute shadow-xl rounded-[28px]"
            />
            <Image
                src={HeroIlust2}
                alt="Hero Ilustration"
                loading="eager"
                class="floating2 rotate-3 left-0 absolute shadow-xl rounded-md"
            />
            <Image
                src={HeroIlust3}
                alt="Hero Ilustration"
                loading="eager"
                class="floating3 rotate-12 md:w-4/12 right-0 -mt-5 absolute shadow-lg rounded-xl"
            />
        </div>
    </div>
    <a href="#services">
        <ArrowDown />
    </a>
</Section>

<style>
    @keyframes float1 {
        0% {
            transform: translateY(0) rotate(-12deg) translateX(0px);
        }
        50% {
            transform: translateY(-8px) rotate(-12deg) translateX(5px);
        }
        100% {
            transform: translateY(0) rotate(-12deg) translateX(0px);
        }
    }

    .floating1 {
        animation: float1 6s ease-in-out infinite;
        animation-delay: 1.5s;
        display: inline-block; /* Évite les effets étranges sur les éléments inline */
    }

    @keyframes float2 {
        0% {
            transform: translateY(0) rotate(1deg) translateX(0px);
        }
        50% {
            transform: translateY(-8px) rotate(1deg) translateX(-1px);
        }
        100% {
            transform: translateY(0) rotate(1deg) translateX(0px);
        }
    }

    .floating2 {
        animation: float2 6s ease-in-out infinite;
        display: inline-block; /* Évite les effets étranges sur les éléments inline */
    }

    @keyframes float3 {
        0% {
            transform: translateY(0) rotate(12deg) translateX(0px);
        }
        50% {
            transform: translateY(-12px) rotate(12deg) translateX(4px);
        }
        100% {
            transform: translateY(0) rotate(12deg) translateX(0px);
        }
    }

    .floating3 {
        animation: float3 6s ease-in-out infinite;
        animation-delay: 0.5s;
        display: inline-block; /* Évite les effets étranges sur les éléments inline */
    }
</style>

<script>
    import gsap from "gsap";
    import { TextPlugin } from "gsap/TextPlugin";

    document.addEventListener("DOMContentLoaded", async () => {
        gsap.registerPlugin(TextPlugin);

        var tl = gsap.timeline({
            repeat: -1,
            repeatDelay: 0,
            yoyo: false,
            onComplete: function () {
                tl.restart();
            },
            defaults: {
                immediateRender: false,
            },
        });

        tl.to("#animated-text", {
            duration: 2,
            text: "appli web",
            ease: "power2.inOut",
            delay: 1,
        });
        tl.to("#animated-text", {
            duration: 2,
            text: "appli desktop",
            ease: "power2.inOut",
            delay: 1,
        });
        tl.to("#animated-text", {
            duration: 2,
            text: "appli embarquée",
            ease: "power2.inOut",
            delay: 1,
        });
        tl.to("#animated-text", {
            duration: 2,
            text: "application mobile",
            ease: "power2.inOut",
            delay: 1,
        });
    });
</script>
