---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "On y va étape par étape pour atteindre vos objectifs";
---

<Section id="process">
  <div class="mt-20">
    <SectionTitle sectionTitle="Mon process" description={description} />
    <Accordion />
  </div>
</Section>
