---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.svg";
---

<Section>
  <Card>
    <div class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-20">
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2 class="text-3xl font-medium">Ça commence dès maintenant</h2>
        <p>
          Contactez-moi dès à présent pour me présenter vos besoins et discuter
          des solutions que nous pourrons mettre en place pour y répondre.
        </p>
        <a id="contactClick" href="/#contact" hidden></a>
        <button
          class="btn-primary"
          onclick="document.getElementById('contactClick').click();"
        >
          Entrer en contact
        </button>
      </div>
      <picture
        class="hidden md:flex absolute right-[-5%] lg:right-0 top-0 lg:top-[-15%] w-[450px] lg:w-auto h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
